@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #050505;
    color: #e2e8f0;
}

.font-gaming {
    font-family: 'Rajdhani', sans-serif;
}

.neon-glow {
    box-shadow: 0 0 15px rgba(57, 255, 20, 0.2);
}

.neon-border {
    border: 1px solid rgba(57, 255, 20, 0.3);
}

.sidebar-active {
    background: linear-gradient(90deg, rgba(57, 255, 20, 0.1) 0%, transparent 100%);
    border-left: 4px solid #39FF14;
    color: #39FF14;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #39FF14;
}